@model IEnumerable<GeneralStore.MVC.Models.Transaction>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <!--Added a single table and a single row with multiple table headers; inside the headers we call DisplayNameFor Method and pass in property from Restaurant Model-->
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </th>

    </tr>
    @foreach (GeneralStore.MVC.Models.Transaction item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTransaction)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId })
                @Html.ActionLink("Details", "Details", new { id = item.TransactionId })
                @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })

            </td>
        </tr>
    }
</table>
